#choose-driver {
    height: calc(100vh - 68.6px);
    position: relative;
    display: flex;
    align-items: center;
}

#choose-driver header {
    display: flex;
    justify-content: center;
}

#choose-driver h1 {
    display: inline-block;
    background-color: var(--brand-gold);
    padding: .5rem;
}

#choose-driver section {
    margin-bottom: 1rem;
}

#choose-driver p {
    line-height: 2;
}

#choose-driver .choosedriver-panel {
    position: absolute;
    background-color: #fff;
    padding-inline: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    outline: 1px solid #dddddd;
    z-index: 1;
}

#choose-driver .driver-item {
    display: flex;
    align-items: center;
}

#choose-driver .driver-item:first-child,
#choose-driver .none-error {
    margin-top: .5rem;
}

#choose-driver .choose-driver-btns-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

#choose-driver .btn {
    border-radius: 1000px;
    cursor: pointer;
    padding: 12px 24px;
    font-weight: 700;
    transition: 0.03s ease-in-out;
    line-height: 16px;
}

#choose-driver .refresh-list-btn {
    color: white;
    background-color: var(--brand-maroon);
}

#choose-driver .cancel-ride-btn,
#choose-driver .cancel-driver-request-btn {
    background-color: black;
    color: white;
}

#choose-driver .cancel-driver-request-btn,
#choose-driver .request-driver-btn {
    border-radius: 1000px;
    cursor: pointer;
    padding: 4px 8px;
    font-weight: 700;
    transition: scale 0.03s ease-in-out;
    line-height: 16px;
    color: white;
    margin-left: 1rem;
}

#choose-driver .request-driver-btn,
#choose-driver .check-status-btn {
    background-color: var(--brand-gold);
    color: black;
}

#choose-driver .request-driver-btn:hover,
#choose-driver .cancel-driver-request-btn:hover,
#choose-driver .btn:hover {
    transform: scale(1.05);
}