#favorites-list table,
#favorites-list th,
#favorites-list td {
    border: 1px solid black;
    border-collapse: collapse;
}

#favorites-list th, #favorites-list td {
    padding: 1rem;
}

#favorites-list table {
    width: 95%;
    margin-inline: auto;
    text-align: center;
}