.Home {
  background-color: #8d0e3b;
  color: #fdc727;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.Home p {
  color: #fdc727;
  font-size: 35px;
}

.Home h1 {
  color: #fdc727;
  -webkit-text-stroke: 1px black;
  font-size: 90px;
  margin: 10px;
}

#cancelPolicy {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  opacity: 0.7;
  color: white;
  border-top: 1px solid white;
  padding-top: 10px;
}

#instructions-container {
  display: flex;
  justify-content: center;
}

#rider-container {
  margin: 30px;
}

#driver-container {
  margin: 30px;
}

h3 {
  text-decoration: underline;
  margin-bottom: 10px;
}

#rider-steps {
  padding-right: 50px;
  font-size: 20px;
}

#driver-steps {
  padding-left: 50px;
  font-size: 20px;
}
