#payment {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

#payment h1 {
    background-color: var(--brand-gold);
    padding: .5rem;
    margin-bottom: 0;
}

.payment-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .75rem;
    width: 500px;
    border-radius: 4px;
    background-color: #fff;
}

.payment-information-container {
    text-align: center;
}

.paypal-btns-container {
    width: 75%;
}

#payment h2 {
    text-align: center;
}

.payment-btns-container h2 {
    margin-bottom: 1rem;
}

#payment h3 {
    color: gray;
    font-size: .9rem;
}

.payment-success-popup,
.payment-error-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 2rem;
    z-index: 999;
    gap: 1.5rem;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: lightgrey;
}

#payment button {
    padding: 14px 28px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 700;
    transition: .03s ease-in-out;
    line-height: 16px;
    cursor: pointer;
}

.payment-success-popup button,
.center-container .cancel-ride-btn {
    color: white;
    background-color: var(--brand-maroon);
}

.payment-error-popup button,
.decline-cancel-btn,
.back-to-home-btn {
    color: white;
    background-color: black;
}

#payment button:hover {
    transform: scale(1.05);
}

#payment .start-payment-btns-container {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.start-payment-btns-container .btn:last-child {
    margin-bottom: 1rem;
    background-color: #000;
    color: white;
}

.start-payment-btn,
.confirm-cancel-btn {
    background-color: var(--brand-maroon);
    color: white;
}

.center-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

#payment .cancel-popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    z-index: 999;
    flex-direction: column;
    padding: 2rem;
    gap: .5rem;
    font-weight: 700;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#payment .cancel-btns-container button:first-child {
    margin-right: 1rem;
}