body
{
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
}

.profile h3
{
    margin: 10px 0;
    font-weight: 500;
}

.profile p
{
    color: gray;
}

.profile hr
{
    border: 0;
    border-top: 1px solid lightgray;
    margin-top: 10px;
}

.profile-picture
{
    margin: 16px 0;
    vertical-align: middle;
    height: 256px;
    border-radius: 32px;
}

.profile-container:after,
.profile-container:before,
.profile-row-padding:after,
.profile-row-padding:before
{
    content: "";
    display: table;
    clear: both
}

.profile-content
{
    margin-left: auto;
    margin-right: auto
}

.profile-content
{
    max-width: 1200px
}

.profile-round
{
    border-radius: 4px
}

.profile-row-padding
{
    padding: 0 8px
}

.profile-container
{
    padding: 0.01em 16px
}

.profile-card
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff !important
}

.profile-opacity
{
    opacity: 0.60
}

.profile-xxlarge
{
    font-size: 36px !important
}

.profile-margin-top
{
    margin-top: 16px !important
}

.profile-margin-bottom
{
    margin-bottom: 16px !important
}

.profile-margin-right
{
    margin-right: 16px !important
}

.profile-padding-16
{
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.center-align
{
    text-align: center;
}

.edit-arrow
{
    float: right;
    margin-top: 24px;
    margin-right: 16px;
}