#Profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100vh;
}

.profileFiller {
    border: 2px solid black;
    border-radius: 50%;
}

.picture {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileInfo {
    grid-column: 2/2;
    grid-row: 1/2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileInfo h2 {
    text-align: center;
}

.profileInfo p {
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#Profile button {
    color: white;
    background: var(--brand-maroon);
    border: transparent;
    padding: 8px 20px;
    border-radius: 1000px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    /* transition: all 0.2s; */
    white-space: nowrap;
}

#Profile button:hover {
    background: maroon;
}

.paymentInfo {
    grid-column: 1/2;
    grid-row: 2/2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.rideHistory {
    grid-column: 2/2;
    grid-row: 2/2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* change to a flex display to allow for each box to encompass each element
this will allow it to be only that size
it will also improve overall look 
do this soon */

/*example:
.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-pic, 
.account-info,
.ride-history,
.card-info {
  width: 45%;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}*/