#rating {
    text-align: center;
    background-color: #f1f1f1;
    height: calc(100vh - 67px)
}

#rating h1 {
    background-color: var(--brand-gold);
    display: inline-block;
    padding: .5rem;
    margin-bottom: 0;
}

#rating label {
    display: block;
    color: #555;
}

.stars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
}

.star {
    cursor: pointer;
    color: #ddd;
    font-size: 48px;
}

.star.active {
    color: var(--brand-gold);
}

.favorite-radio-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: .25rem;
}

.comment-input {
    width: 500px;
    height: 100px;
    padding: .75rem;
    border: 2px solid lightgray;
    outline: transparent;
    border-radius: 4px;
    transition: all 0.3s;
}

.comment-input:focus {
    border: 2px solid black;
}

.favorite-container {
    margin-block: 1rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

#rating button {
    border-radius: 1000px;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    transition: .03s ease-in-out;
    line-height: 16px;
}

.report-button,
.block-button {
    color: #fff;
    background-color: var(--brand-maroon);
}

.submit-button {
    background-color: var(--brand-gold);
}

#rating button:hover {
    transform: scale(1.05);
}