#rating {
    text-align: center;
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#rating h1 {
    background-color: var(--brand-gold);
    display: inline-block;
    padding: .5rem;
    margin-bottom: 0;
}

#rating label {
    display: block;
    color: #555;
}

.stars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
}

.star {
    cursor: pointer;
    color: #ddd;
    font-size: 48px;
}

.star.active {
    color: var(--brand-gold);
}

.favorite-radio-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: .25rem;
}

.comment-input {
    width: 90%;
    width: 600px;
    height: 100px;
    padding: .75rem;
    border: none;
    outline: 2px solid lightgray;
    border-radius: 4px;
    transition: all 0.3s;
}

.comment-input:focus {
    outline: 2px solid black;
}

.favorite-container {
    margin-block: 1rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.buttons-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#rating button {
    border-radius: 1000px;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    transition: .03s ease-in-out;
    line-height: 16px;
}

.report-button {
    background-color: var(--brand-maroon);
    color: #fff;
}

.submit-button {
    background-color: var(--brand-gold);
    color: #000;
}

.block-button {
    background-color: #000;
    color: #fff;
}

#rating button:hover {
    transform: scale(1.05);
}

#rating input[type="radio"] {
    cursor: pointer;
    accent-color: var(--brand-maroon);
}

#rating .completion-prompt {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 166px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    gap: 1rem
}

#rating .home-btn {
    align-self: center;
    background-color: #000;
    color: white;
}