.ride-in-progress {
    display: flex;
}
  
.map-container {
    flex: 1; 
}
  
.ride-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.progress {
    /* styles */
}
  
.ride-info button {
    /* styles */  
}