.ride-in-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.map-container {
    align-self: flex-start; 
}
  
.ride-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
}
  
.progress {
    /* styles */
    font-size: 12px;
    align-self: flex-start;
}

.ridebuttons {
    align-self: flex-end;
}

.ride-info button {
    background-color: var(--brand-gold);
}

.ride-info button:hover {
    background-color: gold;
}
