.ride-in-progress-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

#ride-in-progress h1 {
    background-color: var(--brand-gold);
    text-align: center;
    font-size: 2.25rem;
    padding: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.ride-in-progress-container p {
    line-height: 1.5;
}

.ride-in-progress-btns-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}

#ride-in-progress .btn {
    border-radius: 1000px;
    cursor: pointer;
    padding: 12px 16px;
    font-weight: 700;
    line-height: 16px;
    font-size: 1rem;
    transition: scale .03s ease-in-out;
}

#ride-in-progress .btn:hover {
    transform: scale(1.05);
}

#ride-in-progress .emergency-btn {
    background-color: var(--brand-maroon);
    color: white;
}

#ride-in-progress .refresh-btn,
#ride-in-progress .end-ride-btn {
    background-color: var(--brand-gold);
    color: black;
}