.waiting-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

#waiting h1 {
    background-color: var(--brand-gold);
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

#waiting p {
    line-height: 1.5;
}

#waiting p:not(p:last-child) {
    margin-bottom: 1rem;
}

.waiting-btns-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#waiting .btn {
    border-radius: 1000px;
    cursor: pointer;
    padding: 12px 16px;
    font-weight: 700;
    line-height: 16px;
    font-size: 1rem;
    transition: scale .03s ease-in-out;
}

#waiting .btn:hover {
    transform: scale(1.05);
}

#waiting .contact-btn {
    background-color: var(--brand-gold);
    color: #000;
}

#waiting .emergency-btn {
    background-color: var(--brand-maroon);
    color: #fff;
}

#waiting .cancel-btn,
.back-to-home-btn {
    background-color: #000;
    color: #fff;
}

.waiting-before-cancel-popup,
.waiting-after-cancel-popup,
.driver-arrived-popup,
.rider-cancelled-popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: lightgrey;
    z-index: 999;
    padding: 1rem 2rem 1rem;
    gap: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.waiting-before-cancel-popup {
    max-width: 300px;
    max-height: 233px;
}

.waiting-after-cancel-popup {
    max-width: 300px;
    max-height: 300px;
}

.driver-arrived-popup {
    max-width: 300px;
    max-height: 80px;
}

.rider-cancelled-popup {
    max-width: 300px;
    max-height: 125px;
    text-align: center;
}

.waiting-before-cancel-popup h2,
.waiting-after-cancel-popup h2 {
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: var(--brand-gold);
    padding: .875rem;
}

#waiting .cancel-btns-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#waiting .cancel-btns-container .btn {
    width: 100%;
}